.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #7ae0f4e8;
  font-weight: 500;
  font-size: 15px;
}
