html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color-1: radial-gradient(
    125% 125% at 50% 10%,
    #000 40%,
    #63e 100%
  );
  --background-color-2: linear-gradient(to right, #a0d7ff, #6995f6);
  --background-color-3: linear-gradient(
    to bottom right,
    #145778,
    #1780b2,
    #8ad0ef
  );

  --background-btn-default: linear-gradient(
    110deg,
    #000103 45%,
    #1e2631 55%,
    #000103
  );
  --background-btn-active: linear-gradient(
    110deg,
    rgb(8, 33, 45) 45%,
    rgb(11, 34, 45) 55%,
    rgb(8, 33, 45)
  );
  --background-btn-disabled: linear-gradient(
    135deg,
    rgb(227, 241, 251) 0%,
    rgb(139, 208, 238) 100%
  );
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  position: relative;
  width: 100%;
  text-align: center;
}

section {
  min-height: 100vh;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

svg {
  pointer-events: none;
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
  margin: 0;
}

p {
  text-wrap: balance;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.pointerLoading {
  cursor: wait;
}
